*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.background-picture {
    height: 100%;

    overflow: hidden;
    z-index: -1;
    position: fixed;
}

.background-picture img {
    height: 100%;
    width: auto;
}


.hero .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.hero .container .description {
    margin: 30px;
    width: 50%;
}

.hero img {
    height: 200px;
    width: auto;
    border-radius: 50%;
    align-self: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
}

ul li {
    padding: 0 30px;
}

ul a {
    color: white;
}

ul a:hover {
    transition: .5s;
    color: #3298dc;
    background-color: white;
}

ul a:not(:last-child) {
    border-right: 1px solid white;
}

/* ul a:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
} */

/* About Me*/
.about-me {
    padding: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.85)
}

.about-me h3 {
    width: 100%;
}

.about-me p {
    width: 600px;
}

/* Projects Section*/

.projects {
    text-align: center;
    padding: 40px 0px;
    background-color: rgba(255, 255, 255, 0.85)
}

.card-image {
    padding: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 5px;
    margin: 30px 30px;
    width: 400px;
    overflow: hidden;
    box-shadow: 0 1em 2em -0.125em rgba(50, 152, 220, 0.5), 0 0px 0 5px rgba(50, 152, 220, 0.02);
}

.card-site {
    display: block;
}

/* Skills Section */
.skills {
    color: white;
    background-color: #3298dc;
    padding: 40px;
}

.skills h3 {
    color: white;
}

/* Contact Section */
.contact {
    background-color: #3298dc;
    color: white;
    padding: 30px 10px;
}

.contact p,
p a {
    text-align: center;
    color: white;
    margin-top: 20px;
}

/* Helper Classes */
.center {
    text-align: center;
}

.skills-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-icon-container a {
    color: white;
}

.skills-icon {
    border-radius: 4px;
    transition: all .3s;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

i {
    font-size: 50px;
}

.skills-icon:hover {
    color: green;
    background-color: #fff;
}





@media screen and (max-width: 622px) {

    .container {
        position: relative;
    }

    .description .title {
        margin-top: 10px;
    }


    .hero img {
        height: 100px;
        width: auto;
        border-radius: 50%;

    }

    ul li {
        margin-top: 10px;
        padding: 0 20px;
        font-size: 11px;
    }


}