@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300&display=swap');

:root {
    --black: #0B0C10;
    --dark-grey: #1F2833;
    --grey-color: #C5C6C7;
    --light-blue: #66FCF1;
    --dark-blue: #45a29e;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: var(--black);
    color: #45a29da1
}

h1 {
    font-family: 'Montserrat', serif;
    font-weight: 800;
    font-size: 4rem;
    color: var(--light-blue);
    animation: title 10s;
}

@keyframes title {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes subtitle {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    font-family: 'Open Sans';
    font-weight: 300;
    color: var(--dark-blue);
    font-style: italic;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: subtitle 10s;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navbar h3 {
    margin-left: 20px;
    font-weight: 300;
}

.navbar .navlist {
    display: flex;
    list-style-type: none;
}

.navbar .navlist .nav-item {
    margin: 10px 30px;
    color: var(--grey-color);
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.navbar .navlist .nav-item:hover {
    transform: scale(1.3);
    color: #fff;
}

.intro-section {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://images.unsplash.com/photo-1555066932-e78dd8fb77bb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    width: 100vw;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

